*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
